<!DOCTYPE html>
<html lang="en">

<head>
    <title>Buy a Jin.</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="../javascripts/header.js"></script>
    <meta charset=utf-8 />
</head>

<body>

<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="/">
                    Home
                </a>
            </li>
            <li>
                <a href="/blog">Personal Blog</a>
            </li>
            <li>
                <a href="#">TBD</a>
            </li>
            <li>
                <a href="#">TBD</a>
            </li>
            <li>
                <a href="#">TBD</a>
            </li>
            <li>
                <a href="#">TBD</a>
            </li>
            <li>
                <a href="#">TBD</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>

    <div id="page-content-wrapper" class="container-fluid">
        <a href="#menu-toggle" id="menu-toggle" class="btn btn-default">
            <div class="burger"></div>
            <div class="burger"></div>
            <div class="burger"></div>
        </a>