<% include partials/header %>

<!-- Header -->
<header>
    <div class="container header">
        <div class="row">
            <div class="col-lg-6 vogue">
                <img class="img-responsive" src="../images/index/jin_glare.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <div class="intro-text">
                    <h1>FEATURED IN VOGUE.</h1>
                    <span class="name">INGENIOUS. WORLD-CLASS. <br>
                                       #1 CANDIDATE.
                    </span>
                    <hr>
                    <h2>Grab a Jin Today!</h2>
                    <span class="skills">No hidden fees. 100% satisfaction guaranteed.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>FEATURES</h1>
                <blockquote>"The ideal candidate is experienced, witty, social, smart, handsome, gentle, kind, forgiving,
                    happy, and doesn't exist."
                    <footer>A wise recruiter</footer>
                </blockquote>
                <hr>
            </div>
        </div>
        <div class="row feature">
            <div class="col-lg-4 col-lg-offset-2">
                <img class="img-responsive" src="../images/index/corp_slave.jpg" alt="">
            </div>
            <div class="col-lg-4">
                <h1>YOUNG.</h1>
                <p>Jin's young age and his immunity to diseases ensure a prolonged enslavement to your company.</p>
            </div>
        </div>
        <div class="row feature">
            <div class="col-lg-4 col-lg-offset-2">
                <img class="img-responsive" src="../images/index/passion.jpg" alt="">
            </div>
            <div class="col-lg-4 ">
                <h1>PASSIONATE.</h1>
                <p>Jin might just go out of this way to safeguard his passion. Even if it means getting wet in the rain.</p>
            </div>
        </div>
        <div class="row feature">
            <div class="col-lg-4 col-lg-offset-2">
                <img class="img-responsive" src="../images/index/tech_stack.png" alt="">
            </div>
            <div class="col-lg-4">
                <h1>SKILLED.</h1>
                <p>Jin has 1,000,000+ <span class="seconds">seconds</span> of experience in various modern programming technologies.</p>
            </div>
        </div>
    </div>
</section>
<!-- Pricing Section -->
<section class="success" id="pricing">
    <div class="row pricing_header">
        <div class="col-lg-12 text-center">
            <h1>PRICING</h1>
        </div>
    </div>
    <div class="container pricing_options">
        <div class="row text-center">
            <div class="col-lg-4">
                <h1>~$10,000</h1>
                <p>You will be presented with a heart-warming monkey in your office.</p>
                <img class="img-thumbnail" src="../images/index/uck.png" alt=""></p>
            </div>
            <div class="col-lg-4 pricing_center">
                <h1>~$20,000</h1>
                <p>Jin will intently work with computer. Watching youtube.</p>
                <img class="img-thumbnail" src="../images/index/kid_computer.jpg" alt=""></p>
            </div>
            <div class="col-lg-4">
                <h1>~$70,000</h1>
                <p>Equivalent to hiring Mark Zuckerberg as a developer.</p>
                <img class="img-thumbnail" src="../images/index/mark.jpeg" alt=""></p>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section -->
<section id="contact">
    <div class="container contact_header">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 serious_header">
            <img id="imsma" src="../images/index/imsma.jpg" alt="">
        </div>
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h1>Jokes Aside...</h1>
            <p>Hi, I am Jin Song. Thank you for visiting my blog and going through my obnoxious skeletal index page. To learn
                front-end development better, I decided to try everything from start instead of using a fancy template that
                lies out in the internet. And instead of
                going over everything I have in my resume, I wanted to make my
                introduction
                a little special, as I am sure you are bored of seeing serious, typical portfolio sites. This site is built using Express.js, Node.js, EJS templating, and MongoDB as its database. Check out my blog
                to see this in work! The site is still work in progress, and I hope to work on it more soon.
                <br>
                <br>
                I am an energetic guy who likes to interact and have fun
                with people, even with clients! The photo was taken during IMSMA A1 training session in Spiez, Switzerland while
                I was on project IMSMA @ Novetta. You could see from the picture that I was very happy to be chosen to be sent
                to this beautiful place with great people.
                <br>
                <br>
                On a more academic and technical note, I studied at Northern Virginia Community College at Annandale,
                where I received associate degree in Economics. I then transferred to University of Virginia at Charlottesville.
                I changed my major to Computer Science and proceeded to graduate.
                At school, I took Java courses with some C++ background, so I am familiar with Object Oriented Programming.
                I still deem JAVA as my strongest language, but I believe Javascript comes in as close second, as I picked up
                and gained professional experience working on Handlebar.js, Ractive.js, and Node.js.
                <br>
                <br>
            </p>
            <p>I am probably not the smartest nor most experienced you are looking for. However, I can promise persistent
                energy.</p>
        </div>
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h3>If you want to know more about me, I kindly invite you to...</h3>
            <div class="col-lg-12 col-md-12" id="linked_in">
                <a href="https://www.linkedin.com/in/jin-song-2684a1a0">
                    <img src="../images/index/linkedin.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
<% include partials/footer%>