.container-fluid {
    font-family: 'Baloo Bhai', cursive;
}

.container.header {
    background-image: url('http://wallpapercave.com/wp/aEAi6Ef.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 390px;
}

/* Latest Blogs, three image circles*/
.marketing .row {
    display: flex;
}

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
    align-items: stretch;
}

.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}
.marketing a {
    position: absolute;
    right: 36%;
    bottom: 0;
}
/* Featurettes
------------------------- */

.post-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.post-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.post_container {
    margin-bottom: 50px;
}
.heading {
    padding-top: 130px;
    color: white;
    text-align: center;
}

#show_button {
    width: 250px;
    text-align: center;
    margin-left: 25%;
}

#new_button {
    position: fixed;
    bottom: 75px;
    right: 75px;
    z-index: 2;
}

#new_button a img {
    width: 50px;
    height: 50px;
}

.no_posts {
    font-size: 80px;
    font-weight: 700;
    height: 200px;
    margin-top: 100px;

}
p {
    padding-top: 50px;
    font-family: Lora,'Times New Roman',serif;
    font-size: 20px;
}
.post_header h1 {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 50px;
}
.post h1, h2, h3, h4 {
    font-weight: 800;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: black;
}

.post h4 {
    margin-top: 30px;
}

.nav-tabs>li {
    width: 50%;
}

.nav-tabs>li>a {
    width: 100%;
}