.new_form_header {
    margin-top: 100px;
}
#title {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}

#title input {
    width: 100%;
}

#back_button {
    width: 150px;
}
#button {
    width: 200px;
    display: inline;
    margin-top: 0px;
}

#code textarea {
    background-color: black;
    color: springgreen;
}
#buttons {
    text-align: center;
}
#submit {
    width: 30%;
    text-align: center;
}
textarea {
    width: 100%;
}
#description {
    rows: 5;
}