.show_header {
    margin-top: 50px;
}

.btn-group {
    position: absolute;
    left: 90%;
}
.btn-warning , .btn-danger{
    font-size: 25px;
    width: 100px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size : 55px;
}

h3 {
    font-family: 'Baloo Bhai', cursive;
}
h2,h4 {
    font-weight: 500;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: black;
}
#back_button {
    width: 150px;
    float: left;
}