<% include ../partials/blog_header %>
<link href="/stylesheets/auth.css" type="text/css" rel="stylesheet" />

<div class="login_form">
    <h1>Sign Up!</h1>

    <form action="/blog/register" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button>Sign Up</button>
    </form>
</div>

<% include ../partials/footer %>
